@model IEnumerable<vol_org.Models.Dohidna_n>

@{
    ViewBag.Title = "Index";
}

<h2>Dohidna nakladna</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.full_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vydatkovy_ko.number)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.full_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vydatkovy_ko.number)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
