@model vol_org.Models.Reciever

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reciever</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.military_unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.military_unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.full_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.full_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
