<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Волонтерський осередок", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 d-flex flex-wrap">
               
                    <li>@Html.ActionLink("Дохідна накладна", "Index", "Dohidna_n", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Дохідний номер", "Index", "Doh_num", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Видаткова накладна", "Index", "Vydatkova_n", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Прибутковий касовий ордер", "Index", "Prybutkovy_ko", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Видатковий касовий ордер", "Index", "Vydatkovy_ko", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Отримувач", "Index", "Recievers", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Учасник", "Index", "Members", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("МЦ", "Index", "MCs", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("МЦ облік", "Index", "MC_remain", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Баланс", "Index", "Balances", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
